In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
filenames = []
for file in os.listdir('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data'):
  filenames.append(os.path.join('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data',file))

In [16]:
filenames[0:5]

['/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data/1031665.yaml',
 '/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data/1031435.yaml',
 '/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data/1031433.yaml',
 '/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data/1031431.yaml',
 '/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/data/data/1020029.yaml']

In [17]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
  with open(file,'r') as f:
    df = pd.json_normalize(safe_load(f))
    df['match_id']  = counter
    final_df = final_df.append(df)
    counter+=1

final_df

100%|██████████| 1438/1438 [12:57<00:00,  1.85it/s]

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,match_id,info.outcome.by.wickets,info.outcome.method,info.neutral_venue,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2020-08-08,1,Chester-le-Street,[2017-09-16],male,T20,622.0,West Indies,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'England', 'deliveri...",0.9,2017-06-26,1,Cardiff,[2017-06-25],male,T20,NaN,England,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2017-06-24,1,Taunton,[2017-06-23],male,T20,NaN,South Africa,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2017-06-24,1,Southampton,[2017-06-21],male,T20,NaN,England,...,4,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2017-02-18,1,Auckland,[2017-02-17],male,T20,NaN,South Africa,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2016-03-28,2,Chandigarh,[2016-03-27],female,T20,NaN,West Indies,...,1434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2016-03-26,2,Delhi,[2016-03-26],female,T20,NaN,Australia,...,1435,7.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-25,2,Delhi,[2016-03-24],female,T20,NaN,Australia,...,1436,9.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'South Africa', 'del...",0.9,2016-03-26,2,Bangalore,[2016-03-26],female,T20,NaN,New Zealand,...,1437,7.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2016-03-25,2,Dharamsala,[2016-03-24],female,T20,NaN,England,...,1438,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
backup = final_df.copy()

In [19]:
final_df.head(2)

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,match_id,info.outcome.by.wickets,info.outcome.method,info.neutral_venue,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2020-08-08,1,Chester-le-Street,[2017-09-16],male,T20,622.0,West Indies,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'England', 'deliveri...",0.9,2017-06-26,1,Cardiff,[2017-06-25],male,T20,NaN,England,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
final_df.drop(columns=[
                       'meta.data_version',
                       'meta.created',
                       'meta.revision',
                       'info.outcome.bowl_out',
                       'info.bowl_out',
                       'info.supersubs.South Africa',
                       'info.supersubs.New Zealand',
                       'info.outcome.eliminator',
                       'info.outcome.result',
                       'info.outcome.method',
                       'info.neutral_venue',
                       'info.match_type_number',
                       'info.outcome.by.runs',
                       'info.outcome.by.wickets' 
],inplace = True)

In [22]:
final_df.shape

(1438, 14)

In [23]:
final_df['info.gender'].value_counts()

male      972
female    466
Name: info.gender, dtype: int64

In [25]:
final_df = final_df[final_df['info.gender']=='male']
final_df.drop(columns=['info.gender'],inplace = True)
final_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Chester-le-Street,[2017-09-16],T20,West Indies,20,[SP Narine],"[West Indies, England]",field,England,"[RT Robinson, MA Gough]",Riverside Ground,1
0,"[{'1st innings': {'team': 'England', 'deliveri...",Cardiff,[2017-06-25],T20,England,20,[DJ Malan],"[England, South Africa]",field,South Africa,"[MA Gough, RT Robinson]",Sophia Gardens,2
0,"[{'1st innings': {'team': 'South Africa', 'del...",Taunton,[2017-06-23],T20,South Africa,20,[CH Morris],"[England, South Africa]",field,England,"[RJ Bailey, MA Gough]",County Ground,3
0,"[{'1st innings': {'team': 'South Africa', 'del...",Southampton,[2017-06-21],T20,England,20,[JM Bairstow],"[England, South Africa]",bat,South Africa,"[RJ Bailey, RT Robinson]",The Rose Bowl,4
0,"[{'1st innings': {'team': 'South Africa', 'del...",Auckland,[2017-02-17],T20,South Africa,20,[Imran Tahir],"[New Zealand, South Africa]",field,New Zealand,"[CM Brown, WR Knights]",Eden Park,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-08],T20,Afghanistan,20,[Gulbadin Naib],"[Afghanistan, Zimbabwe]",bat,Afghanistan,"[AK Chaudhary, VA Kulkarni]",Sharjah Cricket Stadium,1423
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-31],T20,Scotland,20,[KJ Coetzer],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1424
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-10],T20,Afghanistan,20,[Mohammad Shahzad],"[Afghanistan, Zimbabwe]",field,Zimbabwe,"[VA Kulkarni, C Shamshuddin]",Sharjah Cricket Stadium,1425
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-30],T20,Hong Kong,20,[Babar Hayat],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1426
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Townsville,[2016-02-07],T20,Ireland,20,NaN,"[Ireland, Papua New Guinea]",field,Papua New Guinea,"[BB Pradhan, RJ Tucker]",Tony Ireland Stadium,1427

In [26]:
final_df = final_df[final_df['info.overs']==20]
final_df.drop(columns=['info.overs','info.match_type'],inplace = True)
final_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Chester-le-Street,[2017-09-16],West Indies,[SP Narine],"[West Indies, England]",field,England,"[RT Robinson, MA Gough]",Riverside Ground,1
0,"[{'1st innings': {'team': 'England', 'deliveri...",Cardiff,[2017-06-25],England,[DJ Malan],"[England, South Africa]",field,South Africa,"[MA Gough, RT Robinson]",Sophia Gardens,2
0,"[{'1st innings': {'team': 'South Africa', 'del...",Taunton,[2017-06-23],South Africa,[CH Morris],"[England, South Africa]",field,England,"[RJ Bailey, MA Gough]",County Ground,3
0,"[{'1st innings': {'team': 'South Africa', 'del...",Southampton,[2017-06-21],England,[JM Bairstow],"[England, South Africa]",bat,South Africa,"[RJ Bailey, RT Robinson]",The Rose Bowl,4
0,"[{'1st innings': {'team': 'South Africa', 'del...",Auckland,[2017-02-17],South Africa,[Imran Tahir],"[New Zealand, South Africa]",field,New Zealand,"[CM Brown, WR Knights]",Eden Park,5
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-08],Afghanistan,[Gulbadin Naib],"[Afghanistan, Zimbabwe]",bat,Afghanistan,"[AK Chaudhary, VA Kulkarni]",Sharjah Cricket Stadium,1423
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-31],Scotland,[KJ Coetzer],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1424
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-10],Afghanistan,[Mohammad Shahzad],"[Afghanistan, Zimbabwe]",field,Zimbabwe,"[VA Kulkarni, C Shamshuddin]",Sharjah Cricket Stadium,1425
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-30],Hong Kong,[Babar Hayat],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1426
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Townsville,[2016-02-07],Ireland,NaN,"[Ireland, Papua New Guinea]",field,Papua New Guinea,"[BB Pradhan, RJ Tucker]",Tony Ireland Stadium,1427

In [27]:
import pickle
pickle.dump(final_df,open('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/dataset_level1.pkl','wb'))

In [28]:
matches = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/dataset_level1.pkl','rb'))
matches

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Chester-le-Street,[2017-09-16],West Indies,[SP Narine],"[West Indies, England]",field,England,"[RT Robinson, MA Gough]",Riverside Ground,1
0,"[{'1st innings': {'team': 'England', 'deliveri...",Cardiff,[2017-06-25],England,[DJ Malan],"[England, South Africa]",field,South Africa,"[MA Gough, RT Robinson]",Sophia Gardens,2
0,"[{'1st innings': {'team': 'South Africa', 'del...",Taunton,[2017-06-23],South Africa,[CH Morris],"[England, South Africa]",field,England,"[RJ Bailey, MA Gough]",County Ground,3
0,"[{'1st innings': {'team': 'South Africa', 'del...",Southampton,[2017-06-21],England,[JM Bairstow],"[England, South Africa]",bat,South Africa,"[RJ Bailey, RT Robinson]",The Rose Bowl,4
0,"[{'1st innings': {'team': 'South Africa', 'del...",Auckland,[2017-02-17],South Africa,[Imran Tahir],"[New Zealand, South Africa]",field,New Zealand,"[CM Brown, WR Knights]",Eden Park,5
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-08],Afghanistan,[Gulbadin Naib],"[Afghanistan, Zimbabwe]",bat,Afghanistan,"[AK Chaudhary, VA Kulkarni]",Sharjah Cricket Stadium,1423
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-31],Scotland,[KJ Coetzer],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1424
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",NaN,[2016-01-10],Afghanistan,[Mohammad Shahzad],"[Afghanistan, Zimbabwe]",field,Zimbabwe,"[VA Kulkarni, C Shamshuddin]",Sharjah Cricket Stadium,1425
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Hong Kong,[2016-01-30],Hong Kong,[Babar Hayat],"[Hong Kong, Scotland]",field,Hong Kong,"[Sarika Prasad, Tabarak Dar]","Mission Road Ground, Mong Kok",1426
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Townsville,[2016-02-07],Ireland,NaN,"[Ireland, Papua New Guinea]",field,Papua New Guinea,"[BB Pradhan, RJ Tucker]",Tony Ireland Stadium,1427

In [29]:
matches.iloc[0]['innings']

[{'1st innings': {'deliveries': [{0.1: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {0.2: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'E Lewis',
      'bowler': 'DJ Willey',
      'extras': {'wides': 1},
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {0.5: {'batsman': 'E Lewis',
      'bowler': 'DJ Willey',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'E Lewis',
      'bowler': 'DJ Willey',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.7: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.1: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.3: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.5: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.6: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.1: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.2: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.3: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {2.4: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {2.5: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.6: {'batsman': 'CH Gayle',
      'bowler': 'DJ Willey',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.1: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {3.3: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.4: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.5: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.6: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.1: {'batsman': 'CH Gayle',
      'bowler': 'CJ Jordan',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.2: {'batsman': 'E Lewis',
      'bowler': 'CJ Jordan',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.3: {'batsman': 'E Lewis',
      'bowler': 'CJ Jordan',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.4: {'batsman': 'CH Gayle',
      'bowler': 'CJ Jordan',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'CH Gayle',
      'bowler': 'CJ Jordan',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {4.6: {'batsman': 'CH Gayle',
      'bowler': 'CJ Jordan',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {5.1: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {5.2: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {5.3: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {5.4: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'E Lewis',
      'bowler': 'TK Curran',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'CH Gayle',
      'bowler': 'TK Curran',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'E Lewis',
      'bowler': 'LE Plunkett',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {6.2: {'batsman': 'E Lewis',
      'bowler': 'LE Plunkett',
      'non_striker': 'CH Gayle',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'CH Gayle',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'kind': 'run out', 'player_out': 'CH Gayle'}}},
    {6.4: {'batsman': 'E Lewis',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.6: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'extras': {'wides': 1},
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {6.7: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.1: {'batsman': 'MN Samuels',
      'bowler': 'AU Rashid',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'MN Samuels',
      'bowler': 'AU Rashid',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'E Lewis',
      'bowler': 'AU Rashid',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.4: {'batsman': 'E Lewis',
      'bowler': 'AU Rashid',
      'extras': {'legbyes': 1},
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'MN Samuels',
      'bowler': 'AU Rashid',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.6: {'batsman': 'E Lewis',
      'bowler': 'AU Rashid',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {8.1: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.2: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.3: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.4: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {8.5: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.6: {'batsman': 'E Lewis',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.2: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'extras': {'wides': 1},
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {9.3: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.4: {'batsman': 'MN Samuels',
      'bowler': 'JE Root',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.5: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.6: {'batsman': 'MN Samuels',
      'bowler': 'JE Root',
      'non_striker': 'E Lewis',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.7: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'extras': {'wides': 1},
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {9.8: {'batsman': 'E Lewis',
      'bowler': 'JE Root',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'E Lewis',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['JE Root'],
       'kind': 'caught',
       'player_out': 'E Lewis'}}},
    {10.2: {'batsman': 'CAK Walton',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.3: {'batsman': 'CAK Walton',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {10.4: {'batsman': 'CAK Walton',
      'bowler': 'LE Plunkett',
      'non_striker': 'MN Samuels',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.5: {'batsman': 'MN Samuels',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['JE Root'],
       'kind': 'caught',
       'player_out': 'MN Samuels'}}},
    {10.6: {'batsman': 'KA Pollard',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.1: {'batsman': 'KA Pollard',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.2: {'batsman': 'KA Pollard',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {11.3: {'batsman': 'KA Pollard',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.4: {'batsman': 'CAK Walton',
      'bowler': 'AU Rashid',
      'non_striker': 'KA Pollard',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'KA Pollard',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.6: {'batsman': 'KA Pollard',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.1: {'batsman': 'CAK Walton',
      'bowler': 'LE Plunkett',
      'non_striker': 'KA Pollard',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.2: {'batsman': 'KA Pollard',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['TK Curran'],
       'kind': 'caught',
       'player_out': 'KA Pollard'}}},
    {12.3: {'batsman': 'R Powell',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.4: {'batsman': 'R Powell',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'R Powell',
      'bowler': 'LE Plunkett',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'CAK Walton',
      'bowler': 'LE Plunkett',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'CAK Walton',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.2: {'batsman': 'R Powell',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.3: {'batsman': 'R Powell',
      'bowler': 'AU Rashid',
      'non_striker': 'CAK Walton',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'CAK Walton',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['DJ Willey'],
       'kind': 'caught',
       'player_out': 'CAK Walton'}}},
    {13.5: {'batsman': 'R Powell',
      'bowler': 'AU Rashid',
      'non_striker': 'CR Brathwaite',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'CR Brathwaite',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {14.1: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'CR Brathwaite',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {14.2: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'CR Brathwaite',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {14.3: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'CR Brathwaite',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'CR Brathwaite',
      'bowler': 'CJ Jordan',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.5: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'CR Brathwaite',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.6: {'batsman': 'CR Brathwaite',
      'bowler': 'CJ Jordan',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.1: {'batsman': 'CR Brathwaite',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'kind': 'bowled', 'player_out': 'CR Brathwaite'}}},
    {15.2: {'batsman': 'SP Narine',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'R Powell',
      'bowler': 'AU Rashid',
      'non_striker': 'SP Narine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.4: {'batsman': 'SP Narine',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'R Powell',
      'bowler': 'AU Rashid',
      'non_striker': 'SP Narine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.6: {'batsman': 'SP Narine',
      'bowler': 'AU Rashid',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'kind': 'lbw', 'player_out': 'SP Narine'}}},
    {16.1: {'batsman': 'R Powell',
      'bowler': 'TK Curran',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.2: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {16.3: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'extras': {'wides': 1},
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {16.4: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {16.5: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'R Powell',
      'bowler': 'TK Curran',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.7: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'AR Nurse',
      'bowler': 'CJ Jordan',
      'extras': {'wides': 1},
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.2: {'batsman': 'AR Nurse',
      'bowler': 'CJ Jordan',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.3: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'extras': {'wides': 1},
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {17.5: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {17.6: {'batsman': 'R Powell',
      'bowler': 'CJ Jordan',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'AR Nurse',
      'bowler': 'CJ Jordan',
      'non_striker': 'R Powell',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {17.8: {'batsman': 'AR Nurse',
      'bowler': 'CJ Jordan',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.1: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'R Powell',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.2: {'batsman': 'R Powell',
      'bowler': 'TK Curran',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {18.3: {'batsman': 'R Powell',
      'bowler': 'TK Curran',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CJ Jordan'],
       'kind': 'caught',
       'player_out': 'R Powell'}}},
    {18.4: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'JE Taylor',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.5: {'batsman': 'JE Taylor',
      'bowler': 'TK Curran',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.6: {'batsman': 'AR Nurse',
      'bowler': 'TK Curran',
      'non_striker': 'JE Taylor',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.1: {'batsman': 'JE Taylor',
      'bowler': 'CJ Jordan',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.2: {'batsman': 'JE Taylor',
      'bowler': 'CJ Jordan',
      'non_striker': 'AR Nurse',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},

In [30]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = delivery_df.append(loop_df)

In [31]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[West Indies, England]",West Indies,0.1,CH Gayle,DJ Willey,4,0,Chester-le-Street,Riverside Ground
1,2,"[West Indies, England]",West Indies,0.2,CH Gayle,DJ Willey,0,0,Chester-le-Street,Riverside Ground
2,2,"[West Indies, England]",West Indies,0.3,CH Gayle,DJ Willey,1,0,Chester-le-Street,Riverside Ground
3,2,"[West Indies, England]",West Indies,0.4,E Lewis,DJ Willey,1,0,Chester-le-Street,Riverside Ground
4,2,"[West Indies, England]",West Indies,0.5,E Lewis,DJ Willey,0,0,Chester-le-Street,Riverside Ground
...,...,...,...,...,...,...,...,...,...,...
62,970,"[Ireland, Papua New Guinea]",Ireland,10.2,MC Sorensen,N Vanua,2,0,Townsville,Tony Ireland Stadium
63,970,"[Ireland, Papua New Guinea]",Ireland,10.3,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium
64,970,"[Ireland, Papua New Guinea]",Ireland,10.4,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium
65,970,"[Ireland, Papua New Guinea]",Ireland,10.5,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium
66,970,"[Ireland, Papua New Guinea]",Ireland,10.6,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium

In [32]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [33]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [34]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[West Indies, England]",West Indies,0.1,CH Gayle,DJ Willey,4,0,Chester-le-Street,Riverside Ground,England
1,2,"[West Indies, England]",West Indies,0.2,CH Gayle,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
2,2,"[West Indies, England]",West Indies,0.3,CH Gayle,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
3,2,"[West Indies, England]",West Indies,0.4,E Lewis,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
4,2,"[West Indies, England]",West Indies,0.5,E Lewis,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
...,...,...,...,...,...,...,...,...,...,...,...
62,970,"[Ireland, Papua New Guinea]",Ireland,10.2,MC Sorensen,N Vanua,2,0,Townsville,Tony Ireland Stadium,Papua New Guinea
63,970,"[Ireland, Papua New Guinea]",Ireland,10.3,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
64,970,"[Ireland, Papua New Guinea]",Ireland,10.4,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
65,970,"[Ireland, Papua New Guinea]",Ireland,10.5,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
66,970,"[Ireland, Papua New Guinea]",Ireland,10.6,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea

In [35]:
delivery_df.drop(columns=['teams'],inplace=True)

In [36]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,West Indies,0.1,CH Gayle,DJ Willey,4,0,Chester-le-Street,Riverside Ground,England
1,2,West Indies,0.2,CH Gayle,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
2,2,West Indies,0.3,CH Gayle,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
3,2,West Indies,0.4,E Lewis,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
4,2,West Indies,0.5,E Lewis,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
...,...,...,...,...,...,...,...,...,...,...
62,970,Ireland,10.2,MC Sorensen,N Vanua,2,0,Townsville,Tony Ireland Stadium,Papua New Guinea
63,970,Ireland,10.3,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
64,970,Ireland,10.4,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
65,970,Ireland,10.5,MC Sorensen,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea
66,970,Ireland,10.6,AD Poynter,N Vanua,1,0,Townsville,Tony Ireland Stadium,Papua New Guinea

In [37]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [38]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [39]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,West Indies,0.1,CH Gayle,DJ Willey,4,0,Chester-le-Street,Riverside Ground,England
1,2,West Indies,0.2,CH Gayle,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
2,2,West Indies,0.3,CH Gayle,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
3,2,West Indies,0.4,E Lewis,DJ Willey,1,0,Chester-le-Street,Riverside Ground,England
4,2,West Indies,0.5,E Lewis,DJ Willey,0,0,Chester-le-Street,Riverside Ground,England
...,...,...,...,...,...,...,...,...,...,...
116,960,India,18.1,R Ashwin,PVD Chameera,1,0,Pune,Maharashtra Cricket Association Stadium,Sri Lanka
117,960,India,18.2,A Nehra,PVD Chameera,0,0,Pune,Maharashtra Cricket Association Stadium,Sri Lanka
118,960,India,18.3,A Nehra,PVD Chameera,2,0,Pune,Maharashtra Cricket Association Stadium,Sri Lanka
119,960,India,18.4,A Nehra,PVD Chameera,0,A Nehra,Pune,Maharashtra Cricket Association Stadium,Sri Lanka
120,960,India,18.5,R Ashwin,PVD Chameera,1,JJ Bumrah,Pune,Maharashtra Cricket Association Stadium,Sri Lanka

In [40]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [41]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,West Indies,England,0.1,4,0,Chester-le-Street,Riverside Ground
1,2,West Indies,England,0.2,0,0,Chester-le-Street,Riverside Ground
2,2,West Indies,England,0.3,1,0,Chester-le-Street,Riverside Ground
3,2,West Indies,England,0.4,1,0,Chester-le-Street,Riverside Ground
4,2,West Indies,England,0.5,0,0,Chester-le-Street,Riverside Ground
...,...,...,...,...,...,...,...,...
116,960,India,Sri Lanka,18.1,1,0,Pune,Maharashtra Cricket Association Stadium
117,960,India,Sri Lanka,18.2,0,0,Pune,Maharashtra Cricket Association Stadium
118,960,India,Sri Lanka,18.3,2,0,Pune,Maharashtra Cricket Association Stadium
119,960,India,Sri Lanka,18.4,0,A Nehra,Pune,Maharashtra Cricket Association Stadium
120,960,India,Sri Lanka,18.5,1,JJ Bumrah,Pune,Maharashtra Cricket Association Stadium

In [42]:
pickle.dump(output,open('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/dataset_level2.pkl','wb'))

In [43]:
df = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/dataset_level2.pkl','rb'))
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,West Indies,England,0.1,4,0,Chester-le-Street,Riverside Ground
1,2,West Indies,England,0.2,0,0,Chester-le-Street,Riverside Ground
2,2,West Indies,England,0.3,1,0,Chester-le-Street,Riverside Ground
3,2,West Indies,England,0.4,1,0,Chester-le-Street,Riverside Ground
4,2,West Indies,England,0.5,0,0,Chester-le-Street,Riverside Ground
...,...,...,...,...,...,...,...,...
116,960,India,Sri Lanka,18.1,1,0,Pune,Maharashtra Cricket Association Stadium
117,960,India,Sri Lanka,18.2,0,0,Pune,Maharashtra Cricket Association Stadium
118,960,India,Sri Lanka,18.3,2,0,Pune,Maharashtra Cricket Association Stadium
119,960,India,Sri Lanka,18.4,0,A Nehra,Pune,Maharashtra Cricket Association Stadium
120,960,India,Sri Lanka,18.5,1,JJ Bumrah,Pune,Maharashtra Cricket Association Stadium

In [44]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8303
venue                  0
dtype: int64

In [45]:
df[df['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        2846
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       627
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [46]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [47]:
df['city'] = cities

In [48]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [49]:
df.drop(columns=['venue'],inplace=True)

In [50]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,West Indies,England,0.1,4,0,Chester-le-Street
1,2,West Indies,England,0.2,0,0,Chester-le-Street
2,2,West Indies,England,0.3,1,0,Chester-le-Street
3,2,West Indies,England,0.4,1,0,Chester-le-Street
4,2,West Indies,England,0.5,0,0,Chester-le-Street
...,...,...,...,...,...,...,...
116,960,India,Sri Lanka,18.1,1,0,Pune
117,960,India,Sri Lanka,18.2,0,0,Pune
118,960,India,Sri Lanka,18.3,2,0,Pune
119,960,India,Sri Lanka,18.4,0,A Nehra,Pune
120,960,India,Sri Lanka,18.5,1,JJ Bumrah,Pune

In [51]:
df['city'].value_counts()

Colombo          4208
Mirpur           3420
Johannesburg     3331
Auckland         2903
Dubai            2846
                 ...
Dharamsala        122
Chennai           122
Potchefstroom     122
Ahmedabad         121
Carrara            64
Name: city, Length: 87, dtype: int64

In [52]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [53]:
df = df[df['city'].isin(eligible_cities)]

In [54]:
df

     match_id batting_team  bowling_team  ball  runs player_dismissed     city
0           3      England  South Africa   0.1     0                0  Cardiff
1           3      England  South Africa   0.2     0                0  Cardiff
2           3      England  South Africa   0.3     2                0  Cardiff
3           3      England  South Africa   0.4     0                0  Cardiff
4           3      England  South Africa   0.5     0                0  Cardiff
..        ...          ...           ...   ...   ...              ...      ...
118       949        India    Bangladesh  19.2     0        RG Sharma   Mirpur
119       949        India    Bangladesh  19.3     0                0   Mirpur
120       949        India    Bangladesh  19.4     0        HH Pandya   Mirpur
121       949        India    Bangladesh  19.5     2                0   Mirpur
122       949        India    Bangladesh  19.6     6                0   Mirpur

[51109 rows x 7 columns]

In [55]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,3,England,South Africa,0.1,0,0,Cardiff,0
1,3,England,South Africa,0.2,0,0,Cardiff,0
2,3,England,South Africa,0.3,2,0,Cardiff,2
3,3,England,South Africa,0.4,0,0,Cardiff,2
4,3,England,South Africa,0.5,0,0,Cardiff,2
...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,RG Sharma,Mirpur,158
119,949,India,Bangladesh,19.3,0,0,Mirpur,158
120,949,India,Bangladesh,19.4,0,HH Pandya,Mirpur,158
121,949,India,Bangladesh,19.5,2,0,Mirpur,160
122,949,India,Bangladesh,19.6,6,0,Mirpur,166

In [57]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5
...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,RG Sharma,Mirpur,158,19,2
119,949,India,Bangladesh,19.3,0,0,Mirpur,158,19,3
120,949,India,Bangladesh,19.4,0,HH Pandya,Mirpur,158,19,4
121,949,India,Bangladesh,19.5,2,0,Mirpur,160,19,5
122,949,India,Bangladesh,19.6,6,0,Mirpur,166,19,6

In [58]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1,1
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2,2
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3,3
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4,4
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,RG Sharma,Mirpur,158,19,2,116
119,949,India,Bangladesh,19.3,0,0,Mirpur,158,19,3,117
120,949,India,Bangladesh,19.4,0,HH Pandya,Mirpur,158,19,4,118
121,949,India,Bangladesh,19.5,2,0,Mirpur,160,19,5,119
122,949,India,Bangladesh,19.6,6,0,Mirpur,166,19,6,120

In [59]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1,1,119
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2,2,118
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3,3,117
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4,4,116
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,RG Sharma,Mirpur,158,19,2,116,4
119,949,India,Bangladesh,19.3,0,0,Mirpur,158,19,3,117,3
120,949,India,Bangladesh,19.4,0,HH Pandya,Mirpur,158,19,4,118,2
121,949,India,Bangladesh,19.5,2,0,Mirpur,160,19,5,119,1
122,949,India,Bangladesh,19.6,6,0,Mirpur,166,19,6,120,0

In [60]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [61]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1,1,119,10
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2,2,118,10
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3,3,117,10
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4,4,116,10
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,5,Mirpur,158,19,2,116,4,5
119,949,India,Bangladesh,19.3,0,5,Mirpur,158,19,3,117,3,5
120,949,India,Bangladesh,19.4,0,6,Mirpur,158,19,4,118,2,4
121,949,India,Bangladesh,19.5,2,6,Mirpur,160,19,5,119,1,4
122,949,India,Bangladesh,19.6,6,6,Mirpur,166,19,6,120,0,4

In [62]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1,1,119,10,0.000000
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2,2,118,10,0.000000
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3,3,117,10,4.000000
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4,4,116,10,3.000000
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5,5,115,10,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,5,Mirpur,158,19,2,116,4,5,8.172414
119,949,India,Bangladesh,19.3,0,5,Mirpur,158,19,3,117,3,5,8.102564
120,949,India,Bangladesh,19.4,0,6,Mirpur,158,19,4,118,2,4,8.033898
121,949,India,Bangladesh,19.5,2,6,Mirpur,160,19,5,119,1,4,8.067227
122,949,India,Bangladesh,19.6,6,6,Mirpur,166,19,6,120,0,4,8.300000

In [64]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [65]:
df['last_five'] = last_five

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,3,England,South Africa,0.1,0,0,Cardiff,0,0,1,1,119,10,0.000000,NaN
1,3,England,South Africa,0.2,0,0,Cardiff,0,0,2,2,118,10,0.000000,NaN
2,3,England,South Africa,0.3,2,0,Cardiff,2,0,3,3,117,10,4.000000,NaN
3,3,England,South Africa,0.4,0,0,Cardiff,2,0,4,4,116,10,3.000000,NaN
4,3,England,South Africa,0.5,0,0,Cardiff,2,0,5,5,115,10,2.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,949,India,Bangladesh,19.2,0,5,Mirpur,158,19,2,116,4,5,8.172414,62.0
119,949,India,Bangladesh,19.3,0,5,Mirpur,158,19,3,117,3,5,8.102564,61.0
120,949,India,Bangladesh,19.4,0,6,Mirpur,158,19,4,118,2,4,8.033898,61.0
121,949,India,Bangladesh,19.5,2,6,Mirpur,160,19,5,119,1,4,8.067227,63.0
122,949,India,Bangladesh,19.6,6,6,Mirpur,166,19,6,120,0,4,8.300000,68.0

In [67]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [68]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [69]:
final_df.dropna(inplace=True)

In [70]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [71]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
29,England,South Africa,Cardiff,38,90,9,7.600000,38.0,181
30,England,South Africa,Cardiff,39,89,9,7.548387,39.0,181
31,England,South Africa,Cardiff,40,89,9,7.741935,40.0,181
32,England,South Africa,Cardiff,41,88,9,7.687500,39.0,181
33,England,South Africa,Cardiff,41,87,9,7.454545,39.0,181
...,...,...,...,...,...,...,...,...,...
51104,India,Bangladesh,Mirpur,158,4,5,8.172414,62.0,166
51105,India,Bangladesh,Mirpur,158,3,5,8.102564,61.0,166
51106,India,Bangladesh,Mirpur,158,2,4,8.033898,61.0,166
51107,India,Bangladesh,Mirpur,160,1,4,8.067227,63.0,166
51108,India,Bangladesh,Mirpur,166,0,4,8.300000,68.0,166

In [72]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [73]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
34954,Sri Lanka,Pakistan,Colombo,94,35,8,6.635294,38.0
49579,England,West Indies,Mumbai,116,32,7,7.909091,36.0
49589,England,West Indies,Mumbai,135,22,7,8.265306,43.0
3868,Pakistan,West Indies,Trinidad,130,9,3,7.027027,35.0
23067,England,South Africa,Barbados,100,46,8,8.108108,31.0
...,...,...,...,...,...,...,...,...
10249,Australia,South Africa,Johannesburg,86,68,8,9.923077,44.0
42679,South Africa,Pakistan,Johannesburg,109,28,7,7.108696,25.0
6816,South Africa,Pakistan,Johannesburg,101,36,8,7.214286,43.0
15971,West Indies,Bangladesh,Johannesburg,59,69,9,6.941176,35.0
43316,South Africa,India,Mirpur,152,9,6,8.216216,38.0

In [74]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [75]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [76]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [77]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

[08:03:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.9878710570209268
1.6278398711680142

In [78]:
pickle.dump(pipe,open('/content/drive/MyDrive/Colab Notebooks/ML Projects/T-20 Cricket Score Predictor/pipe.pkl','wb'))